<!DOCTYPE html>
<html language="zh-cn">
  <head>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>微博云图</title>
  </head>
  <body>  
    <h1>微博云图</h1>
    <img src="http://localhost:8000/images/chinanews.png">
    <!--
    <table border="1">
      <tr>
        <td><p>地址</p></td>
        <td><p>文本</p></td>
        <td><p>时间</p></td>
        <td><p>点赞</p></td>
        <td><p>名称</p></td>
        <td><p>来源</p></td>
      </tr>
      {% for i in weibo_list %}
      <tr>
        <td><p>{{i.address }}</p></td>
        <td><p>{{i.words }}</p></td>
        <td><p>{{i.time }}</p></td>
        <td><p>{{i.like }}</p></td>
        <td><p>{{i.name }}</p></td>
        <td><p>{{i.source }}</p></td>
      </tr>
      {% endfor %} 
    </table>
    -->
    <!--
    {% if weibo_list %}
      <p>{{weibo_list}}</p>
    {% endif %}
    -->
  </body>  
</html>
